<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-lista-button></ion-lista-button>
      </ion-buttons>
      <ion-title>Lista de usuarios</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding" >

    <div  *ngFor='let user of usuarios'>


      <ion-card>
        <img src="https://www.bing.com/th?id=ORMS.ab00efd72d5cf8f64b3911d4e172688a&pid=Wdp&w=612&h=304&qlt=90&c=1&rs=1&dpr=1&p=0" />
        <ion-card-header>
          <ion-card-subtitle>Data</ion-card-subtitle>
          <ion-card-title>{{user.login}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
          Wisconsin Territory in 1836.
        </ion-card-content>
      </ion-card>
  

    </div>



   

  </ion-content>
</div>