<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Lista de filmes</ion-title>
      <ion-button routerLink="/criar-filme" color="success" slot="end">Criar filme</ion-button>


    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">

    <div *ngFor='let filme of filmes'>


      <ion-card>
        <img src={{filme.foto}} />
        <ion-card-header>
          <ion-card-title>{{filme.titulo}}</ion-card-title>
          <ion-card-subtitle>Gênero: {{filme.genero}}</ion-card-subtitle>
          <ion-card-subtitle>Ano de Lançamento: {{filme.lancamento}}</ion-card-subtitle>
          <ion-card-subtitle>Valor arrecadado: {{filme.arrecadacao}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="display: flex">
          <ion-button routerLink="/editar-filme/{{filme.id}}" color="success" slot="end">Editar filme</ion-button>
          <ion-button (click)="showConfirm(filme.id, filme.titulo)" color="danger" slot="end">Excluir filme</ion-button>
        </ion-card-content>

      </ion-card>


    </div>

  </ion-content>
</div>