<ion-header>
  <ion-toolbar>
    <ion-title>criarusuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="formLogin" (ngSubmit)="login()">

		<ion-item class="text-white">
			<ion-label position="floating">
				<ion-icon name="mail" item-start></ion-icon>
				Nome
			</ion-label>
			<ion-input type="text" formControlName="nome" [(ngModel)]="usuarioSaved.nome"></ion-input>
		</ion-item>


		<ion-item class="text-white">
			<ion-label position="floating">
				<ion-icon name="mail" item-start></ion-icon>
				Login
			</ion-label>
			<ion-input type="text" formControlName="login"  [(ngModel)]="usuarioSaved.login"></ion-input>
		</ion-item>

		<ion-item class="text-white">
			<ion-label position="floating">
				<ion-icon name="mail" item-start></ion-icon>
				Data de nascimento
			</ion-label>
			<ion-input type="text" formControlName="idade" [(ngModel)]="usuarioSaved.idade"></ion-input>

			<!-- <ion-datetime formControlName="idade" displayFormat="MM/YYYY" showPicker="false" [(ngModel)]="usuarioSaved.idade"></ion-datetime> -->

		</ion-item>


		<ion-item class="text-white">
			<ion-label position="floating">
				<ion-icon name="mail" item-start></ion-icon>
				Endereco
			</ion-label>
			<ion-input type="text" formControlName="endereco" [(ngModel)]="usuarioSaved.endereco"></ion-input>
		</ion-item>

		<ion-item class="text-white">
			<ion-label position="floating">
				<ion-icon name="mail" item-start></ion-icon>
				CPF
			</ion-label>
			<ion-input type="text" formControlName="cpf" [(ngModel)]="usuarioSaved.cpf"></ion-input>
		</ion-item>
		
		<ion-item class="text-white">
			<ion-label position="floating">
				<ion-icon name="mail" item-start></ion-icon>
				Endereco
			</ion-label>
			<ion-input type="text" formControlName="endereco" [(ngModel)]="usuarioSaved.endereco"></ion-input>
		</ion-item>
		
		

		<ion-item class="text-white">
			<ion-label position="floating">
				<ion-icon name="key-outline" item-start></ion-icon>
				Senha
			</ion-label>
			<ion-input type="password" formControlName="password"></ion-input>
		</ion-item>
		
		<br><br>

		<ion-button size="large" color="success" expand="full" type="submit" [disabled]="!formLogin.valid">Login</ion-button>
	</form>
  
</ion-content>
